.vscode/

# Chemdraw license
ChemDraw-JS-License.xml

.DS_Store

customization/
!customization/.keep


# Local database dumps for the docker dev stack (may contain real inventory data)
docker/initdb/*.sql
docker/initdb/*.sql.gz
